@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-dark;

  &__logo {
    width: 30vw;
  }
  &__heading {
    color: white;

    font-size: 1rem;
    padding: 1rem 5.5rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 90vh;
  }
  &__input {
    border-radius: 10px;
    border: none;
    padding: 0.2rem;
    margin: 0.5rem 0;
    &::placeholder {
      padding: 0.5rem;
    }
    &:focus {
      outline: none;
      background-color: rgb(252, 210, 227);
    }
  }
  &__label {
    color: white;
  }
  &__btn-grad {
    background-image: linear-gradient(
      to right,
      $primary-dark 0%,
      #eb488c 51%,
      #f2a6c7 100%
    );
  }
  &__btn-grad {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  &__btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}
