@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.main {
  &__heading {
    color: $primary-light;
    font-size: 1.5rem;
  }
  &__copy {
    font-size: 1rem;
    color: $primary-light;
  }

  &__add-product {
    width: 1rem;
  }
  &__search {
    background-color: white;
  }
  &__search--input {
    background-image: url("../../assets//logo/search.svg");
    background-repeat: no-repeat;
    padding: $padding-increment;
    width: 100%;
    border-radius: 20px;
    text-indent: 20px;
    border: 1px solid $primary-dark;
  }
}
