@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.main {
  padding: 1rem;
  @include tablet {
    padding: 2rem;
  }
  &__heading {
    color: $primary-grey;
    font-size: 1.5rem;
    padding: 1rem 0 0.5rem;
    @include tablet {
      font-size: 2.5rem;
      flex-basis: 100%;
    }
  }
  &__copy {
    font-size: 1rem;
    color: $primary-grey;
    margin: 1rem 0;
    @include tablet {
      font-size: 1.5rem;
      font-size: 2rem;
      margin: 2rem 0;
    }
  }

  &__add-product {
    width: 1rem;
  }
  &__search {
    padding: 0.5rem;
    background-color: white;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__search--input {
    display: block;
    background-image: url("../../assets//logo/search.svg");
    background-position: left;
    background-repeat: no-repeat;
    padding: $padding-increment;
    width: 100%;
    margin-top: 1rem;
    border-radius: 20px;
    text-indent: 20px;
    border: 1px solid $primary-dark;
    &:focus {
      outline: none;
      border-color: $primary-light;
    }
    &::placeholder {
      @include tablet {
        font-size: 1.2rem;
      }
    }
    @include tablet {
      width: 50%;
      padding: 1rem;
    }
  }

  &__btn-grad {
    background-image: linear-gradient(
      to right,
      $primary-dark 0%,
      #ffdde1 51%,
      #ee9ca7 100%
    );
  }
  &__btn-grad {
    margin: 10px;
    padding: 5px 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    @include tablet {
      padding: 10px 20px;
    }
  }

  &__btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

.modal {
  &__modal {
    min-width: 100vw;
    min-height: 100vh;
    border: 1px solid $primary-light;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;

    &-top {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      margin-top: 1rem;
    }

    &-close {
      align-self: flex-end;
      width: 14px;
      height: 14px;
    }

    &-item {
      color: $primary-dark;
      padding: 20px 0;
    }

    &-description {
      padding: 1rem;
      line-height: 1.5rem;
    }
    &-image {
      width: 100%;
      padding: 2rem;
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      position: fixed;
      width: 92%;
      bottom: 2rem;
    }

    &-cancel {
      height: 36px;
      width: 48%;
      border-radius: 20px;
      color: white;
      border: 1px solid $primary-dark;
      background-color: $primary-dark;
      cursor: pointer;
    }

    &-cancel:hover {
      color: $primary-light;
      border: 1px solid $primary-light;
    }

    &-confirm {
      height: 36px;
      width: 48%;
      border-radius: 20px;
      color: $primary-dark;
      border: 1px solid $primary-light;
      background-color: $primary-light;
      cursor: pointer;
    }

    &-confirm:hover {
      color: white;
      border: 1px solid $primary-dark;
      background-color: $primary-dark;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
}
