@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.login {
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-dark;
  &__heading {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 3rem 1rem 2rem;
    color: white;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__logo {
    width: 30vw;
  }
  &__input-top {
    display: block;
    border-radius: 10px 10px 1px 1px;
    padding: 0.5rem;
    margin: 0;
    border: none;
    width: 50%;
    &::placeholder {
      text-indent: 5%;
    }
    &:focus {
      outline: none;
      background-color: rgb(252, 210, 227);
    }
  }
  &__input-bottom {
    display: block;
    border-radius: 1px 1px 10px 10px;
    padding: 0.5rem;
    margin: 0.1rem;
    border: none;
    width: 50%;
    &::placeholder {
      text-indent: 5%;
    }
    &:focus {
      outline: none;
      background-color: rgb(252, 210, 227);
    }
  }

  &__label {
    font-size: 0.75rem;
    color: white;
    padding: 1rem 0 0.3rem;
  }
  &__button {
    font-size: 1rem;
    padding: 0.75rem 0;
    width: 4rem;
  }

  &__signUp-link {
    color: white;
    font-size: 0.5rem;
    padding: 1.5rem 0.5rem 0;
    text-decoration: underline;
  }
  &__disclaimer {
    color: rgb(213, 207, 207);
    font-size: 0.5rem;
    padding: 6rem;
  }
}
