// @use "../../partials/typography" as *;
@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.collasible {
  display: none;
  &--expand {
    display: contents;
  }
}

.product-list {
  padding: 0 1rem;
  &__see-more {
    padding-bottom: 1rem;
    width: 6rem;
    margin: 0 auto;
  }
  &__content {
    color: $primary-grey;
  }
  &__item {
    color: $primary-grey;
  }
  &__link {
    font-size: 1.5;
    text-decoration: none;
  }
  &__data {
    color: $primary-grey;
    font-size: 1rem;
  }
  &__copy {
    color: $primary-grey;
    padding: 1rem 0;
    @include tablet {
      font-size: 1.5rem;
    }
  }
  &__image {
    width: 50%;
  }
  &__label {
    color: $primary-dark;
    font-size: 0.75rem;
  }
  &__btn-grad {
    background-image: linear-gradient(
      to right,
      $primary-dark 0%,
      #eb488c 51%,
      #f2a6c7 100%
    );
  }
  &__btn-grad {
    margin: 0.5rem 0;
    padding: 10px 22px;
    font-size: 0.75rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    border: none;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  &__btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}
