@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem $padding-increment * 3;
  background-color: $primary-dark;

  &__heading {
    color: white;
    font-size: 1.5rem;
    padding-bottom: $padding-increment * 2;
    flex-basis: 100%;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__subheading {
    color: white;
    font-size: 0.75rem;
    @include tablet {
      font-size: 1rem;
    }
  }
  &__likelyImg {
    width: 100vw;
    padding: 1rem 0;
  }
  &__likelyhood {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.25rem 0 $padding-increment 0;
  }
  &__ingredients {
    display: inline-block;
    color: white;
    margin: 0 0.5rem;
  }
  &__alert-icon {
    padding: 0 0.5rem 0 0;
  }
}
