@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;

.cardNotSensitive {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  border-bottom: 1px solid $primary-dark;

  &__content {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-image: url(../../assets//logo/product-background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    position: relative;
  }
  &__image {
    max-width: 100%;
  }
  &__button {
    width: 3rem;

    &:active {
      transform: perspective(100px) translateZ(-20px); // z-index: 1;
    }
  }

  &__body {
    flex-basis: 100%;
  }
  &__heading {
    font-size: 0.7rem;
    color: $primary-dark;
  }
}
