@import "~bootstrap/scss/bootstrap";
.card {
  display: flex;
  flex-wrap: wrap;

  &__content {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-image: url(../../assets//logo/product-background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50vw;
    margin: 0 auto;
    position: relative;
  }
  &__image {
    // position: absolute;
  }
  &__button {
    width: 3rem;
    position: absolute;
    top: 5rem;
  }
  &__body {
    flex-basis: 100%;
  }
  &__heading {
    font-size: 1rem;
  }
}
